.footer {
	padding: @spacing-half 0;
	background-color: @brand-quatenary;
	color: @light-color;

	.item {
		padding-bottom: @spacing-quarter;
	}
}

.social {
	.icon {
		margin: 0 auto;
		width: 20px;
		padding-bottom: @spacing-quarter;
	}
}
