.hue-primary {
	border-color: @brand-primary;
	color: @brand-primary;
	a {
		text-decoration: underline;
	}
}
.hue-secondary {
	border-color: @brand-secondary;
	color: @brand-secondary;
	a {
		text-decoration: underline;
	}
}

.hue-tertiary {
	border-color: @brand-tertiary;
	color: @brand-tertiary;
	a {
		text-decoration: underline;
	}
}

.hue-quatenary {
	border-color: @brand-quatenary;
	color: @brand-quatenary;
	a {
		text-decoration: underline;
	}
}
