.team {
	padding: @spacing-half 0;
}

.member {
	.text-center();

	.member__image {
		border-radius: 50%;
		padding: @spacing-quarter;
		max-width: 180px;
		margin: 0 auto;
	}
	.member__name {

	}
	.member__title {

	}
	.member__social {
		ul li {
			width: 40px;
		}
	}
}
