.text-image {
	padding: @spacing-half 0;
	h2 {
		text-transform: uppercase;
		font-weight: 700;
		color: inherit;
		padding-bottom: @spacing-quarter;
	}
	p {
		color: inherit;
	}
	.button {
		margin-top: @spacing-half;
	}
}

.text-image.primary {
	background-color: @brand-primary;
	h2, p {
		color: @light-color;
	}
}

.text-image.secondary {
	background-color: @brand-secondary;
	h2, p {
		color: @light-color;
	}
}
.text-image.tertiary {
	background-color: @brand-tertiary;
	h2, p {
		color: @light-color;
	}
}
.text-image.quatenary {
	background-color: @brand-quatenary;
	h2, p {
		color: @light-color;
	}
}
